[2021-08-29 19:14] drewkg opened #5 "Download of Powershell Module Leads to 404"
In the readme, the link to download the PS Module leads to a 404 page.

The link is - https://github.com/Azure/deployment-stacks/blob/main/powershell/azure/install-az-ps

[2021-09-21 06:55] tcrevel commented on #5
Hello Team,
I think the good link is: https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-6.4.0

[2021-10-21 16:10] alex-frankel opened #11 "Align error reporting behavior between Deployment and DeploymentStack cmdlets"
Got a preflight error with the deployment. The top level error is not helpful, nor is showing the full JSON error response:

Initial error:
[code]

Output of `$stack.error | ConvertTo-Json -Depth 50`:

[code]

I ended up figuring out by doing a standard deployment, which gives me the following output by default:

[code]

I would have expected to get the same info in both contexts.

[2021-10-22 07:11] loekd opened #15 "One resource can be managed by multiple stacks"
**Describe the bug**

Due to an [issue](https://github.com/Azure/deployment-stacks/pull/14) in the tutorial, I created multiple stacks that managed the same set of resources. (in this case the 4 storage accounts)

I would expect this to be impossible, as different stacks can have different behaviors to deal with resource lifecycle.

**To Reproduce**
Steps to reproduce the behavior:
1. follow the t

[2021-10-24 21:12] brwilkinson opened #16 "Install only works in certain circumstances, consider making more generic"
**Describe the bug**
If you install the az module with PowerShell 5 it uses 1 version of PowerShellGet
If you install the az module with PowerShell 7 it uses a different verson of PowerShellGet
- depending on which version you use, it places the metadata used to track what was installed in different places, so they cannot be detected via the other version

Consider replacing the usage of `get-inst

[2021-10-24 21:36] brwilkinson commented on #16
Another consideration is that Az.Resources `4.4.0` is the latest az.resources now, so when installing az.resources via the script it installs `4.3.8` which is lower so it will not load by default?!

[code]

[code]

Might need to bump the module version in the package to above 4.4.0. ?

[2021-10-24 23:37] brwilkinson opened #17 "Get-AzResourceGroupDeploymentStackSnapshot return object is not being unrolled (it's returning the collection)"
Get-AzResourceGroupDeploymentStack only returns a single object, it functions correctly... see Get-Member shows the correct type.

[code]

However with the snapshots it's a collection and it's not unrolling the object when it is returned.

[code]

This is not expected behavior ...

Same example with Storage Cmdlets

[code]

### Types or returns

#### psdeploymentstack
    TypeName: Microsoft.Azure

[2021-10-26 07:37] brwilkinson commented on #16
I forgot that issue still exists in powershell 5 with `get-module az -listavailable` where az module is ignored.

https://github.com/PowerShell/PowerShell/issues/8125#issuecomment-433212351

I thought it was Arizona, however it's actually Azerbaijani.

[code]

which was resolved in pwsh 7.

https://github.com/PowerShell/PowerShell/pull/8142

so I think get-installedmodule is the safe option in tha

[2021-10-26 08:05] brwilkinson commented on #16
otherwise, the following should work under both 5 & 7.

333
[code]

342
[code]

[2021-10-26 17:45] Xynoclafe commented on #17
Thanks for bringing it to our attention @brwilkinson. We are looking into it.
Another clarification though - as it is right now, this problem seems to affect both deploymentstacks and snapshots cmdlets. The examples you provided for stacks makes a GET call and fetches a specific stack while the example for snapshots makes a LIST call on all the snapshots of that stack, which is why you noticed the

[2021-10-26 17:47] brwilkinson commented on #17
Oh sure thanks, I didn't test the returning multiple stacks. Thanks for the update.

[2021-10-26 19:43] TSunny007 commented on #11
This currently happens by design. A deploymentStack does not contain "failed resources". The fix for this is one of the following:
1) Generate a Snapshot when a deployment goes through
2) Populate FailedResources right on the deploymentStack

[2021-10-26 19:46] ouldsid commented on #11
@TarunSunkaraneni let's follow up on this in our snapshot discussion : We do have an active PR that is trying to resolve this issue but we need to discuss this in snapshot discuttion DEVOPS PR  5235697

[2021-10-27 18:28] joshuawaddell opened #19 "`-PurgeResources` Unavailable on `Remove-AzSubscriptionDeploymentStack`"
**Describe the bug**
When running the final step in the tutorial with the `-PurgeResources` parameter, an error is generated:

'A parameter cannot be found that matches parameter name 'PurgeResources''.

**Screenshots**
![image](https://user-images.githubusercontent.com/66260832/139124934-2f26597e-bb40-4aa6-9ad8-2b68258dcd86.png)

![image](https://user-images.githubusercontent.com/66260832/1391249

[2021-10-27 22:59] snarkywolverine commented on #19
@mumian Has a change to the readme that will address this.

As mentioned in the readme, the underlying functionality is not yet available due to a known limitation:

``
In the preview, deleting a deploymentStack detaches all of its managed resources.  To delete all the managedResources, first update the deploymentStack with an empty template (similar to the one below) and set `-UpdateBehavior purg

[2021-10-28 13:17] slavizh opened #20 "Ability to do -Verbose and to show progress like New-AzDeployment -Verbose"
**Is your feature request related to a problem? Please describe.**
Ability to do -Verbose and to show progress like New-AzDeployment -Verbose
Allows for following live progress when ran in pipeline.

**Describe the solution you'd like**
Ability to do -Verbose and to show progress like New-AzDeployment -Verbose

**Describe alternatives you've considered**
I do not see alternatives.

[2021-10-28 16:44] bmoore-msft commented on #16
@stuartko - can you add a AzDO task # to link this to

[2021-10-28 18:08] bmoore-msft commented on #15
This is intentional as scanning all Azure resources across subs (and in some cases tenants) is not a problem we can reasonably solve in a performant manner with the current design of ARM.  Once locking is available you can prevent this by locking a resource.

@mumian we should doc this...

[2021-10-29 10:10] slavizh opened #22 "Question about New-AzSubscriptionDeploymentStack usage"
Instead of using New-AzSubscriptionDeploymentStack and after it Set-AzSubscriptionDeploymentStack can I use only New-AzSubscriptionDeploymentStack all the time? Is there any difference if I use New-AzSubscriptionDeploymentStack instead of Set-AzSubscriptionDeploymentStack  on existing stack?

[2021-10-29 10:35] slavizh opened #23 "Subscription-scoped Deployments not visible"
**Describe the bug**
Yesterday I was doing some testing of one deployment stack and today I am doing with another one. Under Deployments for the subscription I can only see the deployment stacks deployments from yesterday by not today. Is this some issue particularly to Deployment stacks or not related to it?

![image](https://user-images.githubusercontent.com/11890856/139420506-8e6c8088-a461-413d

[2021-10-29 10:48] slavizh opened #24 "Referenced resource added to detached for no reason"
**Describe the bug**
I have a template that deploys:
* resource group
* several scheduled query rules

For that template I have deployed deployment stack with purgeResources option. Initially I have tested commenting one of the scheduled query rules and see if it will purged. It was. At some point I have added role assignment scoped to one of the scheduled query rules. When I did deployment the de

[2021-10-29 10:59] slavizh opened #25 "Question: Will there be mode where resources not defined previously in the template be also deleted?"
Question: Will there be mode where resources not defined previously in the template be also deleted? For example where someone has added a role assignment from Portal, PowerShell, CLI or other method and when you do stack deployment that role to be deleted?

[2021-10-29 21:08] bmoore-msft commented on #22
No difference - PowerShell has a "standard" that everyone have a "Set" cmdlet.

[2021-10-29 21:11] bmoore-msft commented on #23
I don't think related to stacks, likely a replication delay - do you see them today?  Also if you run `Get-AzSubscriptionDeployment` does it return them?  Or `Get-AzSubscriptionDeployment -Name $(get this from the stack)`?

[2021-10-29 21:21] bmoore-msft commented on #24
Thanks @slavizh - it's odd the resource was detached when it was never managed (unless you deleted a snapshot in there somewhere?  We might nee the template on this one - you can post here or email if you don't want it in the issue?

[2021-10-29 21:22] bmoore-msft commented on #24
Also, can you open a separate issue for the "can't delete the resource because it was locked"?

[2021-10-29 21:24] bmoore-msft commented on #25
Currently the approach is that we only "clean up" resources that were previously managed (or deployed) by the stack - no collateral damage.

What are your thoughts on the behavior though - IOW, how would the stack know which roleAssignment to delete if it never managed it?  (and distinguish that roleAssignment from ones you don't want to delete).

[2021-10-29 21:38] TSunny007 commented on #24
The resource
`/subscriptions/3c1d68a5-4064-4522-94e4-e0378165922e/resourceGroups/kustotest/providers/Microsoft.OperationalInsights/workspaces/ws007`
is managed by the stack during the first put. It is most likely an implicit resource.

[2021-11-01 09:51] slavizh commented on #22
Thanks! That is great!

[2021-11-01 09:51] #22 closed, assigned to nobody

[2021-11-01 09:54] slavizh commented on #23
Get-AzSubscriptionDeployment didn't return them. When I started to deploy a new stack (third one) I saw a few of them appear for the previous stack (the second one) but those for the current stack were also missing.
When I did manual deployment via New-AzDeployment appeared right away.

[2021-11-01 10:00] slavizh commented on #24
@bmoore-msft template send on e-mail to you. I have not performed deletion on snapshot. The above commands are how I executed them. I will log separate issue linking to this one.

@TarunSunkaraneni  You can check the template I have send to Brian but I am not defining Microsoft.OperationalInsights/workspaces. In bicep I am defining that as existing resource but this is than translated to resourceI

[2021-11-01 10:01] slavizh opened #26 "can't delete the resource because it was locked"
Resource cannot be deleted if there is a lock. Reference #24

[2021-11-01 10:10] slavizh commented on #25
@bmoore-msft I would guess there needs to be some query that gets existing resources, does comparison and the differences are deleted. Do not know if something in Export template can do that although we have seen issues where Export template is not fully correct. Sometimes does not return all resources.

I would guess it would be not the most used scenario but could be useful in some situations wh

[2021-11-01 12:49] slavizh commented on #20
Also verbose should show deleting resources progress. When there is some delete process it seems that deployment takes way longer, especially when there is some deletion failure.

[2021-11-01 18:55] bmoore-msft opened #27 "Delete all stacks at the end of private preview"
Once encryption work is done, previously created stacks will need to be deleted since they will not be encypted.

AzDO #10944400

[2021-11-02 09:17] slavizh opened #28 "OS disks on Azure VM not purged (and other implicitly deployed resources)"
Putting this as may be a discussion or reminder to document some important things. It is quite common that the OS disk is defined inside virtualMachine resource and it is not defined separately as resource. In those cases deployment stacks will not purge the OS disk. I think we either should document those cases or mention those limitations/behaviors by giving the Azure VM example which is probabl

[2021-11-02 11:30] slavizh opened #29 "Ability to deploy multiple templates with single stack"
**Is your feature request related to a problem? Please describe.**
We have different solutions that are separate from each other and deploy different services. Let's say we have a solution for deploying Web App and another solution for deploying Azure SQL Database. I would like to be able to deploy these one after the other and they to be in a single stack.

**Describe the solution you'd like**
Wh

[2021-11-02 11:34] slavizh opened #30 "Deployment Stacks should support tags"
**Is your feature request related to a problem? Please describe.**
Deployment stacks should support tags so you can add some metadata that might be useful when you browse stacks. It might be very useful when you view multiple stacks across multiple subscriptions. Deployments already support tags.

**Describe the solution you'd like**
It is clear

**Describe alternatives you've considered**
no alte

[2021-11-02 12:22] slavizh opened #31 "Problem with purging certain resources"
**Describe the bug**
Certain resources cannot co-exist if they have the same configuration defined. Such resource is for example diagnosticSettings. For example if for that resource you have defined certain logs to be sent to certain Log Analytics workspace and your resource name is called service1 but you rename it to service2. Deployment stacks will think that it needs to create service2 diagnos

[2021-11-02 16:38] alex-frankel commented on #26
Was the lock itself deployed with the stack? What is the expected behavior?

[2021-11-02 19:07] bmoore-msft commented on #28
There are a handful of implicit resources like this (I think you're right that disks is most common)... is your expectation that they should be deleted on purge?  or retained because they have data? (VM Team thinks the latter).  Would your opinion be different if the resource did not contain data?

[2021-11-02 19:14] bmoore-msft commented on #29
Yep - right now the thinking is that you'd use a wrapper template...  One thing that stands out for me in your example that web & sql would not be part of the same stack as they have different lifecycles (typically).  Another way to look at it... if the next time I came along to deploy the stack, I forgot to include one of those templates on the cmd line, those resources are either no longer part

[2021-11-02 19:15] bmoore-msft commented on #30
They should... out of curiosity - how will you use them?

[2021-11-02 20:21] bmoore-msft commented on #31
This sounds like it's more related to the resource than the stack?  I.e. the same behavior would occur with a template deployment independent of stacks.  roleAssignments are similar/identical if I follow the scenario correctly.

One challenge I see with purging beforehand would be if the resource fails to deploy (you would lose the old ones and didn't get the new ones)...  My guess is that would b

[2021-11-02 20:49] bmoore-msft commented on #25
What would you query though?  The stack can transit multiple RGs and subscriptions and not everything in a RG (for example) needs to belong to the stack...

re: export template - we'll follow the deployment model (not the resourceGroup model) for exporting the template.  IOW, the stack will contain the exact template used to create the stack.  Not exactly what we're talking about here, but just to

[2021-11-03 08:39] slavizh commented on #26
It was not deployed trough the stack. The lock was deployed by Azure SQL Monitoring solution from portal - basically a views resource type that had lock.

[2021-11-03 08:50] slavizh commented on #28
@bmoore-msft for me the logical step would be that a guidance is provided that if you want a resource to be purged/managed by deployment stack it needs to be defined within the template. There is also data on the Data disks but those are purged so I do not see that OS disk should be treated differently than data disks. Having to provide guidance will not have to force deployment stacks team or Com

[2021-11-03 08:53] slavizh commented on #30
I guess mainly in portal to may be track things like:
- team/department who owns the stack
- to which application the stack belongs
- etc.
Basically the same things you use tags for other resources excluding billing if Stacks is free.

[2021-11-03 08:58] slavizh commented on #31
yeah somehow not an easy way to solve this but decided to flag it anyway. I also get why certain resources does not allow that. Id not being able to solve it at least could be documented that you can achieve something like this with deployment script but of course as you have mentioned you can still end up in situation where old resource is deleted and new one is not applied due to failed deployme

[2021-11-03 09:03] slavizh commented on #25
Sorry I meant this functionality https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/export-template-portal#export-template-from-a-resource-group but of course that is very limited due to not being able to export all resource types. And of course at subscription level this would be useless and very dangerous, it could be useful only on RG scope.

I guess we can park this and se

[2021-11-03 09:50] slavizh commented on #29
In current case we have separate jobs in the pipeline that deploy the different solutions so they run within the same pipeline. I would like to offer different options to end users in simplest way possible thus why the command line option proposal.

[2021-11-03 12:58] aperezmicrosoft opened #32 "test issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-11-03 13:00] #32 closed, assigned to nobody

[2021-11-04 16:42] bmoore-msft commented on #16
Let's bump the version to something arbitrarily high so we don't have to argue w/ the public cmdlets during private preview.

re: PS5, I'm ok with requiring v6 or v7 during the private preview

[2021-11-05 21:20] bmoore-msft commented on #28
So in your case the data disks were explicitly defined in the template and the OS disk was not?

[2021-11-05 21:28] bmoore-msft commented on #31
IDK of a [competitor's] resource that has a similar limitation - i.e. the "primary key" is not the name property but a group of properties... but this is a pretty granular detail or obscurity.  For roleAssignments you can manage it up front if you name the resource accordingly - is that possible with diags or is the property bag way too big?

[2021-11-05 21:30] bmoore-msft commented on #25
re: export understood (I thought we might be on different apis)... I'm fine letting other chime in on this I think it's going to be a recurring topic of discussion

[2021-11-05 21:32] bmoore-msft commented on #26
@slavizh - so the lock was explicitly applied via portal?  Or via another resource in the template for the stack?

[2021-11-06 13:57] miqm opened #33 "SubscriptionDeploymentStack does not verify template schema"
**Describe the bug**
I took a resource group deployment and used SubscriptionDeploymentStack command to deploy. It was allowed but I think some basic verification should be done to avoid misuse.

**To Reproduce**
Steps to reproduce the behavior:
1. Take a RG template
2. Create a deployment stack on subscription level.

**Expected behavior**
Creating deployment stack should be blocked.

[2021-11-08 12:42] slavizh commented on #26
@bmoore-msft applied via portal when Azure SQL Monitoring solution was deployed so outside of the stack deployment which does not define that resource at all.

[2021-11-08 12:48] slavizh commented on #31
@bmoore-msft you can name diag resource however you want. The diag resource case is a little bit different than role assignments as I believe role assignments needs GUID for name and this is also not visible in portal. Diag resource name is visible on portal and sometimes it might be needed to switch to a naming standard or provide the option for the end user to define it.

Let me know if I didn't

[2021-11-08 12:51] slavizh commented on #28
yes. I believe (if I remember correctly) data disks you need to create in advance and reference them in the virtual machine resource. For OS disk you specify which image you want the VM to be deployed with and that creates the OS disk. So in order to manage it you will need to have dependent resource on the VM that is for the os disk defined.

[2021-11-08 20:23] bmoore-msft commented on #28
Would like to open this up to a broader audience - what is the expectation around "implicit" resources.  They are not defined in the template but are deployed as a result of deploying some other resource that is in the template.  Currently, those resources are not ever managed and will not be purged.

1) Are there scenarios where not managing (i.e. not locking) these resource can be problematic?

[2021-11-08 20:25] bmoore-msft commented on #26
Ok, so I think this one we should respect... if the resource is locked (outside of the stack) the stack should respect that lock, otherwise the platform is a little suspect in this area.

Is the lock (that's applied by SQL Monitoring) visible in portal?  (they aren't doing something funky with it)

[2021-11-08 20:35] bmoore-msft commented on #23
There have been issues with replication of late - would like to get a feel for other folks also experiencing this...

[2021-11-09 07:16] slavizh commented on #26
regular lock

![image](https://user-images.githubusercontent.com/11890856/140878952-d6f7c8e9-10a3-4886-a475-6ecbc2412a3b.png)

[2021-11-09 07:23] slavizh commented on #28
My view:

1. could be problematic as I think end users would expect to see those resources under managed. OS disk is just  a small example because it is a single resource but the thing with kuberenetes clusters there are lot of resources created by the main resource. Synapse analytics does the same, private endpoints as well, etc.
2. I would expect to be deleted as if you destroy the main resource

[2021-11-09 09:35] maikvandergaag commented on #28
My view:

1. I think it could be problematic in some scenario's but also think they were placed outside of a deployment stack for a specific reason.
2. If they are placed outside the stack I presume someone really thought of the specific scenario. That is also why I think they should not be deleted if the stack is deleted.

[2021-11-09 10:34] slavizh commented on #28
@maikvandergaag keep in mind that the experience will be inconsistent. For example Kubernetes will delete its resources, Azure VM will not delete its os disk. This means you will need to know very well the resource in order to know how it will work within the stack.

[2021-11-09 10:39] maikvandergaag commented on #28
@slavizh: Yes I know and I think with for example Kubernetes which created another resource group automatically that it should be included in the stack as you have limited control over the resources that are created.

With for example a VM that is referencing an existing data disk out side of the stack that data disk should be left alone when deleting the stack.

[2021-11-09 18:54] snarkywolverine commented on #26
I agree that, if the stack is managing a resource that is locked outside the scope of the stack, then the purge should fail (which sounds like what happened here).

I recognize that, in this case, the scenario is a little convoluted (since the resource shouldn't have been managed in the first place, see issue #24) - but the locking behavior is correct.  I'm going to close this -- feel free to reac

[2021-11-09 18:54] #26 closed, assigned to nobody

[2021-11-09 21:00] Xynoclafe commented on #17
@brwilkinson this release should have fixed this issue - https://github.com/Azure/deployment-stacks/releases/tag/v0.1.1
fyi  _-Select -first_ and _-Select-Object -first_ can still cause some issues, I am still looking into that, but the return object should be unrolling now and every other operation should go about smoothly.

[2021-11-09 21:08] brwilkinson commented on #17
Thanks @Xynoclafe I'll pull down the update.

[2021-11-10 07:19] slavizh commented on #26
@snarkywolverine no problem. I have opened the issue because I was asked. For me the behavior of not being able to delete locked resource that is not part of the managed resources is correct as well.

[2021-11-10 21:07] bmoore-msft commented on #28
An interesting part here is that the RPs that created the resource, decide on the cleanup behavior for those resources... while inconsistent makes some sense.   Not being able to lock something almost seems more interesting.  For VMs/Disks you can managed this by using explicit resources, but there are plenty of other resources (I'm struggling a bit to come up with examples) where you can't turn t

[2021-11-11 07:16] slavizh commented on #28
@bmoore-msft Os disk is easy but some other things like kubernetes, synapse, etc. are more complex as they create more resources. If you choose inconstant I think you will need to document better all these behaviors per RP in order to provide better deployment experience which is my proposal from the start.

[2021-11-11 07:39] slavizh commented on #28
Synapse even goes further as you cannot manage the resources at all as you have some deny assignment (it is not lock).
Failed to update diagnostics for 'sqlpool0001'.{"error":{"code":"DenyAssignmentAuthorizationFailed","message":"The client 'redacted' with object id 'redacted' has permission to perform action 'microsoft.insights/diagnosticSettings/write' on scope '/subscriptions/redacted/resourceG

[2021-11-12 12:01] Agazoth opened #36 "Get-AzResource -ResourceGroupName <resource-group-name> not working"
**Describe the bug**
when running `Get-AzResource -ResourceGroupName <resource-group-name>` nothing is returned from resource groups deployed with New-AzSubscriptionDeploymentStack

**To Reproduce**
Follow the tutorial. When running the line above, nothing is returned.

**Expected behavior**
the storage accounts are returned

**Screenshots**
![image](https://user-images.githubusercontent.com/15127

[2021-11-12 14:33] slavizh opened #37 "Question: Will purging/deleting the resource group be part of deployment stacks"
As far as I understood currently if you delete deployment stack or remove resource group from deployment stacks the resources groups will not be deleted/purged. Will such functionality be part of future release? Will there be option to not purge the resource group in case there are some other resources left that were not part of the stack?

[2021-11-12 18:36] snarkywolverine commented on #36
Do you mind sharing the deployment stack resource ID and, if available, the correlation ID?

[2021-11-12 20:38] Agazoth commented on #36
[code]

[2021-11-16 00:15] snarkywolverine commented on #36
Can you double-check the template which you were trying to apply? The snapshot referenced above (ending in b1c47) shows an empty template (no resources, parameters, outputs, etc...).  I see two deleted resources and no managed resources, which seems consistent with an empty template uploaded.

[2021-11-16 05:11] Agazoth commented on #36
I followed the tutorial, and ended up with a detached storage account in the resource group.

Shouldn't I be able to use `Get-AzResource -ResourceGroupName <resource-group-name>` to retrieve a storage account provisioned by deployment stacks?

If I remove the 9.0.0 Az.Resources module and just use the one from Az, the cmdlet works.

I'll make a complete re-run in a few hours and check in the resul

[2021-11-16 07:08] Agazoth commented on #36
Just re-ran the entire tutorial, and it works as expected now. Sorry for the inconvenience.

[2021-11-16 07:08] #36 closed, assigned to nobody

[2021-11-16 10:14] andrew-kelleher opened #38 "PowerShell cmdlets fail with "Object reference not set to an instance of an object""
**Describe the bug**
After installing the deployments stack PS modules, running any of the cmdlets returns an ` Object reference not set to an instance of an object` error.

**To Reproduce**
Steps to reproduce the behaviour:
1. Download and unzip the deployment stack package (`v0.1.1`)
2. Create a new PowerShell terminal session within VSCode with administrator privileges
3. Confirm the PowerShell

[2021-11-16 10:58] maciejporebski commented on #38
If you run `Get-AzSubscriptionDeploymentStack` with `-Debug` do you get a "No HTTP resource was found that matches the request URI" response for the `https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Resources/deploymentStacks?api-version=2021-05-01-preview` request?

If so I seem to be facing the same issue. I've let @bmoore-msft know via email and the dev team may a

[2021-11-16 14:59] andrew-kelleher commented on #38
Hi @maciejporebski, thanks for tip on the -debug switch.

Yes, I'm getting exactly the same response in the body -

[code]

[2021-11-16 17:41] bmoore-msft commented on #38
Can you run:
[code]
And paste the output and your subId?

[2021-11-16 19:34] snarkywolverine commented on #38
Before you do what Brian suggested, you should also check that you are working in the correct subscription context by using:
[code]

[2021-11-16 21:00] bmoore-msft commented on #33
The ARM deployment engine (which stacks uses) doesn't do any schema validation... that's mostly historical but there are scenarios where a template may be valid at multiple scopes, so you'd have to change the source to use it at other scopes.  It might be interesting to poke what kind of validation could reasonably be done given the schemas are never 100% complete, could be missing, etc.

What are

[2021-11-16 22:25] maciejporebski commented on #38
Just tried using the module again and I no longer get this issue!

In case it helps in any way this is my output for `9cc55246-7157-4ef7-a375-ce22fb559f66`
[code]

[2021-11-16 22:43] bmoore-msft commented on #38
@maciejporebski - thanks for confirming...  @andrew-kelleher let us know what you find out...

[2021-11-16 23:26] maciejporebski opened #39 "Get-AzSubscriptionDeploymentStack returns 429 TooManyRequests if no subscription scoped stacks exist"
**Describe the bug**
`Get-AzSubscriptionDeploymentStack` command and `GET /subscriptions/${SubscriptionId}/providers/Microsoft.Resources/deploymentStacks?api-version=2021-05-01-preview` return 429 TooManyRequests if no subscription scoped stacks exist. This in turn results in the `Get-AzSubscriptionDeploymentStack` command hanging as it enters a retry loop which continuously receives 429 responses

[2021-11-17 08:24] slavizh commented on #33
@bmoore-msft don't do it. I have templates that deploy perfectly fine at Sub and MG scope even though the schema is only for sub.

[2021-11-17 10:03] andrew-kelleher commented on #38
@bmoore-msft when running `Get-AzProviderFeature -ProviderNamespace Microsoft.Resources` nothing's returned.

So possibly this particular subscription hasn't been onboarded onto to the preview?

[2021-11-17 16:22] bmoore-msft commented on #38
Certainly possible - this is the a82f... subscription?

[2021-11-17 16:27] andrew-kelleher commented on #38
Yes, that's the subscription 👍

[2021-11-17 17:28] bmoore-msft commented on #33
;) - good feedback.  What's in the templates?  Policies? Roles?

[2021-11-17 17:32] miqm commented on #33
perhaps just a warning? to validate $schema property as we do in bicep

[2021-11-17 17:51] bmoore-msft commented on #33
Clients could certainly warn - the API doesn't have the capability to warn, at least not in a standard way in ARM.

Where do you see the warning in bicep?  I just tried crossing deployment & targetScope in bicep and did not get a warning...

[2021-11-17 18:30] miqm commented on #33
in bicep when you import template as a module schema is used to determine the target scope type.

[2021-11-17 20:21] bmoore-msft commented on #33
Ah got it... so in VS Code?

[2021-11-17 22:44] snarkywolverine commented on #39
Thanks for reporting this! We should have a fix available in the next couple weeks.

[2021-11-18 12:59] slavizh commented on #33
@bmoore-msft yes, we have solutions policies, custom rbac roles and role assignments that work perfectly fine no matter the scope. Overall the biggest problem was that policy names on MG scope are 24 characters max compared to Sub which is higher but that is RP problem not ARM.

[2021-11-18 13:01] slavizh commented on #33
Bicep does not care about the target deployment as well. target is only useful for VSC. Basically if ARM does not care why Bicep or Deployment Stacks should.

[2021-11-18 15:16] miqm commented on #33
in deployments it doesn't care (as this is CLI/pwsh job, not bicep), but when you include ARM template as a module (nested deployment) it does, not only in VSCode but also during build.

[2021-11-18 16:30] alex-frankel commented on #33
Az CLI verifies that the deployment target matches the `targetScope` property. If you try to deploy a bicep file with `targetScope = 'subscription'` and then run `az deployment group create ...`, we will emit an error.

IMO, it is the right thing to do to be strict here, but in order to do this properly, we need to add the ability to set the targetScope to multiple scopes. i.e. `targetScope = [ 'r

[2021-11-24 09:42] rbnmk commented on #38
I seem to have the same with my MSDN subscription(s). Could that be a reason that they are not onboarded? I don't get any output running: `Get-AzProviderFeature -ProviderNamespace Microsoft.Resources`

I get the error for both the SubscriptionStack and ResourceGroupStack cmdlet
`New-AzSubscriptionDeploymentStack: Object reference not set to an instance of an object.`
`New-AzResourceGroupDeployment

[2021-11-24 10:58] andrew-kelleher commented on #38
Hi @rbnmk. Yes, the issue for us was that our subscription needed to be onboarded. It's all working for us now.

[2021-11-24 17:50] bmoore-msft commented on #38
if there's no provider feature registered, that's the first step to fix - you can send my your subId and we can onboard it.

[2021-11-30 08:55] henrybeen opened #40 "Locking a stack against changes through other channels than IaC"
With deployment stacks as a self-deployed, strong grouping around resources, it would be great to also protect these resources from change/deletion through other channels than manipulation through IasC.

This way you can force deletes and updates to the resources to also come from manipulationg the stack, by deploying a new template.

Especially in organizations that are still at a mix of IaC and

[2021-11-30 08:57] henrybeen opened #41 "template-with-stack.json contins non-working property deploymentScope"
**Describe the bug**
The [template-with-stack.json](https://github.com/Azure/deployment-stacks/blob/main/test-templates/template-with-stack.json) template in this repo does not deploy as-is. Only by removing the deploymentScope property and adding a location property, I could get the template to deploy.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to deploy the template as is

**Expec

[2021-11-30 13:47] slavizh commented on #23
It is very annoying as when you have something failed it is hard to troubleshoot as you do not see what is the deployment error until the deployment starts to appear which takes a lot of time.

[2021-11-30 19:15] henrybeen opened #42 "When deploying a deployment stack from a template, the resource doesn't show in the 'deployments' blade for a while"
When deploying a deployment stack from a template, the resource doesn't show in the 'deployments' blade for "a while"

**To Reproduce**
Steps to reproduce the behavior:
1. Fix the [template-with-stack.json](https://github.com/Azure/deployment-stacks/blob/main/test-templates/template-with-stack.json) template as described in #41
2. Deploy the template
3. Navigate to the target resource scope
4. Nav

[2021-12-01 08:53] rbnmk commented on #20
I would like to add to this that this would be helpful. I always use the -Verbose switch in Azure DevOps pipelines to output information about 'what is going on'.

[2021-12-01 18:37] snarkywolverine commented on #42
Thanks for sharing the correlation ID.  Based on the logs, this was a stack created at subscription scope.  This issue is being tracked by #23.

[2021-12-01 18:37] #42 closed, assigned to nobody

[2021-12-01 18:42] snarkywolverine commented on #40
If you are familiar with Blueprints, we are planning to implement functionality similar to what Blueprints has:

https://docs.microsoft.com/en-us/azure/governance/blueprints/concepts/resource-locking

Would that address your scenarios?

[2021-12-01 18:44] #38 closed, assigned to nobody

[2021-12-02 10:30] henrybeen commented on #40
I'm familair with Blueprints, and I know that this is planned. (Great!)

But blueprints will lock a stack against change by those who are authorized on the individual resource, but wouldn't it be interesting to lock against change from anything, but IaC? Just to enforce change through IaC over manual?

[2021-12-02 19:56] bmoore-msft commented on #41
Thanks Henry - I think we had that up there before we got templates working... I submitted a fix.

[2021-12-02 19:56] #41 closed, assigned to nobody

[2021-12-02 20:20] bmoore-msft commented on #40
@henrybeen - you mean something like "this resource can only be updated by updating the stack itself"?   You could do that by using a read-only lock and no excepted principals... though the owner could delete the stack, update the resources and re-apply the stack (but that's true of any "protection" you try to use).

This is not really a stacks scenario but we've been looking at ways to say "block

[2021-12-05 09:33] henrybeen commented on #40
Your last statement, 'block edits via portal, ps, cli, rest' (anything not iac) is what I'd be looking for. I don't know if stacks are the right place for that, but it's something I've been finding myself to want at some points.

The scenario is then a team that started doing manual infra deploys and needs to migrate to iac and half-way that migration it can be messy what is done through iac and w

[2021-12-05 20:25] henrybeen opened #44 "Resource property 'part-of-stack'"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
It would be great to see, for each Azure resource, if it is part of a stack.

Let's assume that over time many users will migrate to stacks for a strong grouping of resources, tracking ownership, and grouping resources for application (components). Now, many teams will likely use updateBehav

[2021-12-06 07:25] slavizh opened #45 "Progress on resources deployed is missing"
**Describe the bug**
I am deploying budget for cost management but the progress of the resource deployed is missing. It does not show even Microsoft.Resources/deployments progress.

**To Reproduce**
[code]

**Expected behavior**
To show like this:

[code]

**Repro Environment**
Host OS: Windows 11
Powershell Version: PowerShell 7.2

**Server Debugging Information**
Correlation ID: c3935ce9-effe-46

[2021-12-06 15:39] alex-frankel commented on #45
Is this different than #20?

[2021-12-07 13:46] slavizh commented on #45
@alex-frankel no, but I thought with the last release #20 was addressed but may be I have understood the notes differently.

[2021-12-07 14:10] Xynoclafe commented on #45
@alex-frankel My takeaways from #20 and his have been slightly different.
The fix addressed for #20 was for the fact that when stack deployments were running, verbose logs (and even debug logs for that matter) were not being printed at all when -verbose (or -debug) were passed, and with no progress of any kind shown on the shell, it could seem like it was not responding. That shouldn't be the case

[2021-12-07 14:25] slavizh opened #46 "New-AzSubscriptionDeploymentStack on par with New-AzDeployment"
**Is your feature request related to a problem? Please describe.**
New-AzSubscriptionDeploymentStack  should have the same features that New-AzDeployment has + the additional Deployment stacks feature. For example the things that are currently missing:

* output data from template deployment. Currently you will need to go and query the main deployment ID in order to get t hat data. I would be way

[2021-12-07 14:35] slavizh commented on #45
@Xynoclafe yes. I have provided more info around the whole deployment stacks cmdlet experience and what should be on par with deployment cmdlets in #46

[2021-12-08 12:09] slavizh commented on #28
@bmoore-msft  Seems VM API has a new option for OS disk - deleteOption. Deletes/retains the OS disk when VM is deleted.

[code]

[2021-12-10 23:52] snarkywolverine opened #48 "**UPDATE - RESOLVED** Awareness: Some subscription-scoped deployment stacks may not be accessible"
Around December 1, 2021, configuration was applied that made some (if not all) subscription-scoped deployment stacks inaccessible to users.

Note that this is exclusive to subscription-scoped stacks.  If your deployment stack is saved in a resource group, it should be working as expected.

SYMPTOMS:
Direct retrieval returns 404 Not Found - GET /subscriptions/<>/providers/Microsoft.Resources/deploy

[2021-12-14 14:09] andrew-kelleher opened #49 "Question: Creating a Deployment Stacks ADO pipeline on Ubuntu agent?"
Has anyone managed to create an Azure DevOps pipeline that installs and runs the Deployment Stack preview cmdlets on a Microsoft-hosted Ubuntu build agent?

I almost have it working but am hitting an issue with running the cmdlets within the pipeline. They simply return an error such as -

`The 'Get-AzSubscriptionDeploymentStack' command was found in the module 'Az.Resources', but the module could

[2021-12-17 19:42] snarkywolverine commented on #39
This should now be fixed in all regions - a GET of deploymentStacks at subscription scope should now return an empty array.  Let us know if you see any further issues.  Thanks!

[2021-12-17 19:42] #39 closed, assigned to snarkywolverine

[2021-12-20 10:41] henrybeen opened #50 "Question: adding an existing resource to a stack"
I guess the title says it all: can I add an existing resource to a deployment stack?

[2021-12-20 20:25] snarkywolverine commented on #50
You can add a resource to a stack by adding it to the underlying template, and then redeploy the stack.

There is no other mechanism for this.  Is there a scenario for you where that's an issue?

[2021-12-22 16:35] henrybeen commented on #50
I can see how this works, when you do it once.

What would happen if I try to add the same resource to two stacks this way? Will it be concidered for purge when either stack is udpated? Or will it be detached from the first stack when I add it to the second one?

[2022-01-07 05:20] damienpontifex opened #51 "Removing managed cluster agent pool deleted in azure but deployment stack reported error"
**Describe the bug**
I removed a managed cluster (AKS) agent pool from my template and tested to ensure it was cleaned up in azure. It was reporting as being in "Deleting" state from AKS node pool blade and did delete from there. The stack reported `Error:  Resource could not be deleted. It is now detached.` with the failed resource being the agent pool that was removed

**To Reproduce**
Steps to

[2022-01-11 20:09] TSunny007 commented on #50
Currently, nothing restricts a resource being managed by multiple stacks, and in this case, one stack update with `UpdateBehavior = PurgeResources` would delete the underlying resource even if another stack is managing it. This is primarily because we don't want to restrict the user from their use cases, and if managing the same resource in two different stacks is the user's design pattern, we adh

[2022-01-11 20:09] #50 closed, assigned to nobody

[2022-01-11 20:12] TSunny007 commented on #51
Thanks for filing this! It probably has to do with the underlying delete endpoint we rely on for resource deletion so they'll appreciate this find. I will investigate this further and keep you updated

[2022-01-20 17:44] bmoore-msft commented on #46
Should we simply add the properties of the deployment object directly to the stack?

[2022-01-21 08:23] slavizh commented on #46
@bmoore-msft yes if you ask me. New-AzSubscriptionDeploymentStack should behave and have the same output as New-AzDeployment but with the additional stuff to stacks, including -verbose functionality.

[2022-01-23 13:52] miqm commented on #51
👍🏻 I confirm, stumbled onto this one also.

[2022-01-26 14:02] miqm commented on #15
@bmoore-msft - what about keeping with each resource  metadata with deployment stack id? This shouldn't be hard and would only to check resources touched by the template. Of course there will be some problem with nested deployments, but it wouldn't require scanning entire tenant.

[2022-01-26 14:06] slavizh commented on #15
@miqm that would require a change in every resource provider, including extensions and proxy resources probably. My guess this would be very hard and time consuming change to do across all Azure resources.

[2022-01-26 14:08] miqm commented on #15
Isn’t the Resource Manager responsible for sending requests to RPs? The validation of stack assignment could occur before RM does the calls.

[2022-01-26 14:29] slavizh commented on #15
@miqm what RP has as properties and what are those properties are not controlled by Resource Manager. For example - https://docs.microsoft.com/en-us/rest/api/hybridcompute/machines/create-or-update#systemdata system data. It is something that needs to be implemented by every RP thus you use appearing RP by RP and version by version.

[2022-01-26 14:52] miqm commented on #15
Not sure I follow. When you define a template, you specify resource and properties, so you can easily manage stack assignments. You don't need to know which are available, you just need to know which are defined during current stack update and which one were there in previous updates.

[2022-01-26 16:10] bmoore-msft commented on #15
@miqm - I see what you're after and this is an interesting idea...  if I follow...

_When a stack creates a resource it can "tag" it with some metadata that indicates the managing stack resource id.  Now, the next time any stack looks at deploying a resource, it can check to see if that tag is present and behave accordingly._

Today, there isn't any way for a resource (deploymentStacks) to add som

[2022-01-26 18:53] henrybeen commented on #15
I might be wrong, but wouldn't this tag be what I propose in #44 , including a scenario?

[2022-01-26 19:26] miqm commented on #15
I think the biggest problem is that you can remove resource by updating a completely different stack. Locks are not a solution - they should (IMHO) prevent you from removing critical resources. But in some cases you still would like to manage the resource in a particular stack (i.e. queues/topics in a service bus) and be able to remove them when removed from stack. playing with locks would add too

[2022-01-26 20:28] bmoore-msft commented on #15
@henrybeen - I think #15 and #44 are very similar...

@miqm - going to keep this part focused on the "problem statement"...

It sounds like the scenario is that an adjacent/unrelated operation could inadvertently remove a resource.  So resource is in both stack A and B and stack B owner decides it's not needed anymore and does a purge.  Someone who *thinks* they own the resource deletes it not rea

[2022-01-26 22:12] miqm commented on #15
Yes, I do agree with this. I still want to have ability for stack A to delete a resource once removed from stack, but if I need to slightly adjust that resource from deployment to stack B or just by mistake in bicep I’ll forget putting `existing` in the resource, and then I remove resource (or add existing) - I don’t want stack B to remove it.
so in case when I deploy a stack and it will try to ma

[2022-01-26 22:51] bmoore-msft commented on #15
TBH, I think the proper model is that you can't put the same resource in stack A and B at the same time and if it were simple we'd probably do it...  in reality this probably happens POST GA if it happens.  If so then we probably have a means to do #44 but the scenarios for that still needs some refining.

re: TF - the "recommended" model for a stack would be to deploy it at the parent scope... so

[2022-01-26 22:58] bmoore-msft commented on #49
@Xynoclafe - this is similar to the error we ran into in earlier release but I don't remember the fix/workaround...  do we have to ```remove-module az.resources``` prior to install in this case?

[2022-01-26 23:01] bmoore-msft commented on #46
@slavizh - ack on the output - are there other spots where they don't behave the same?  (and maybe enter new issues for those)

[2022-01-27 06:19] miqm commented on #15
I agree with you that one resource should belong to one stack only. Hopefully you will find a way to do this.

One more case for you to consider when planning this feature - i.e. we might have a Service Bus managed in one stack (infrastructure) but queues and topics managed by different (application) stacks. Same thing might be with sql server and and databases or cdn profile and endpoints...

[2022-01-27 07:45] slavizh commented on #15
As we are discussing cases: What about if stack A has the resource as detach but stack B has it as purge. For me this should be allowed. Overall I get the problem but this should be end user choice if resource can be in two stacks. Probably there should be some design guidance in stacks documentation to not recommend that scenario. For me the bigger problem with resource being in more than one sta

[2022-01-27 07:48] slavizh commented on #46
@bmoore-msft no, I do not think so. I think in this issue I have described all the things that are currently different between those and should be the same.

[2022-01-27 22:09] bmoore-msft commented on #15
@miqm - my "default demo" for stacks does something similar with parent child (sqlServer & serverFarm in one stack, db and site in another)...  Are you seeing any issues in these cases?  (or how do you envision seeing it affect "the plan"?)

@slavizh - the properties delta you touched on is a good one - that would mean in a drift detection (+remediation) scenario stack A shows a diff (so I fix it)

[2022-01-28 20:15] Xynoclafe commented on #49
I suspect the Az.Resources module is being loaded into the session before the new modules version is installed/loaded. Removing it should fix the problem, as long as no cmdlet from Az.Resources is being run before the installation of new modules is completed.

[2022-02-03 22:27] #19 closed, assigned to mumian

[2022-02-04 08:02] loekd commented on #15
I believe this is a valuable feature, that helps users avoid running into problems with conflicting desired state configurations, accidental deletes, and un-auditable infrastructure (because which one is the truth?).

Having a stack create a deny assignment, locking out every principal except the creator, would require the use of a different principal for every deployment stack. Locks would get in

[2022-02-04 17:31] bmoore-msft commented on #15
Good point...  very good point.

[2022-02-05 00:57] damienpontifex opened #56 "Distribute CLI components for install with `az extension add`"
**Is your feature request related to a problem? Please describe.**
The releases now contain a package for use with the `az` CLI, but packaged with an MSI for windows and also has the python source as a zip inside the release artifacts. This makes it different than how other CLI beta usages are distributed e.g. https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list where I've used the

[2022-02-07 20:16] bmoore-msft commented on #23
Once W5 gets deployed we should re-test this...

[2022-02-07 21:48] bmoore-msft commented on #16
@brwilkinson - I think we fixed the versioning issue - is there more you're concerned about here?

[2022-02-07 21:50] bmoore-msft commented on #17
@brwilkinson - did you get a chance to verify this?

[2022-02-07 22:19] brwilkinson commented on #16
All good here.

[2022-02-07 22:38] bmoore-msft commented on #37
Current thinking is that we would delete the RG only if it's empty...  We would not delete subscriptions or managementGroups even if empty.

[2022-02-07 22:42] bmoore-msft commented on #44
along with #15 - we may be able to do this with tag modernization

[2022-02-07 22:45] bmoore-msft commented on #45
going to remove this one as I think we have it covered between #20 and #46

[2022-02-07 22:45] #45 closed, assigned to Xynoclafe

[2022-02-07 22:45] brwilkinson commented on #17
You can close it, I will do a round 2 of testing.

[2022-02-07 22:48] bmoore-msft commented on #46
Grabbing this along with #11

[2022-02-07 22:50] bmoore-msft commented on #49
@andrew-kelleher - have you had a chance to try this by ensuring the [default] module is not already loaded on the box?

[2022-02-08 15:58] bmoore-msft commented on #17
SGTM

[2022-02-08 15:58] #17 closed, assigned to Xynoclafe

[2022-02-08 19:27] #16 closed, assigned to Xynoclafe, stuartko

[2022-02-10 16:42] andrew-kelleher commented on #49
@bmoore-msft no, I've not had an opportunity to test this yet.

Now that the Deployment Stacks AZ CLI cmds are available in the latest preview we're likely going to focus our testing there. The AZ CLI tends to align much better with what we're doing with our Linux build agents and pipelines.

Feel free to close this issue unless it'd help anyone else.

[2022-02-10 22:09] bmoore-msft commented on #49
Sounds good - feel free to open/comment as needed...

[2022-02-10 22:09] #49 closed, assigned to nobody

[2022-02-11 22:41] bmoore-msft commented on #56
I think this is going to be a "point in time" issue for us... we want to be in the base cli (not out of band as an extension) as it's a simpler install experience once we get there - at that point we'll be consistent across platforms, though I might poke on unifying the install experience prior to then.  I don't think we're going to have many releases between now and when we get in the base cli.

[2022-02-12 00:30] damienpontifex commented on #56
All good, thanks

[2022-02-12 00:30] #56 closed, assigned to nobody

[2022-02-17 20:50] snarkywolverine commented on #51
@miqm Do you have a correlation ID (or subscription, stack, and deployment date) we can use to verify the issue is the same in both cases?

[2022-02-17 21:01] miqm commented on #51
Unfortunately not anymore. But I could try to reproduce it.

[2022-03-03 23:54] snarkywolverine commented on #48
This should now be resolved for all customers, where telemetry indicated a subscription-scoped stack may have been impacted.

If your subscription was missed for some reason, please update this issue with your subscription ID, or reach out to me directly.

Thank you for your patience.

(This will be closed around 3/11/22, to give people an opportunity to see the issue was resolved.)

[2022-03-07 21:25] matsest commented on #15
I think introducing a strict locking for one resource -> one stack could create some additional issues around the management of these "locks" that ultimately can be avoided with more well thoughout template design, RBAC (and in edge cases Policy).

From my experience with Terraform and management of Terraform state in shared environments, most of this can be avoided with clear scoping of the state

[2022-03-07 22:19] bmoore-msft commented on #15
re: "ignore" - that feels like it's similar to PATCH which we have talked about but PATCH is more intentional (IMO) than ignore.  Generally, we try to avoid the "fixes" that cover up the warts and try to go after the warts - even though that's a bit slower than we'd like.  TF can't do that, they have to respond how they can...

re:

I get the vnet/subnet issue - not sure I follow on the network ac

[2022-03-07 22:57] matsest commented on #15
I agree with the reasoning, and I'm aware it's an ongoing effort. As long as ARM resource providers are well designed to handle declarative configurations and make correct API calls it shouldn't really be an issue. The vnet/subnet is perhaps an edge case.. But great effort from you + the Bicep team to improve the underlying causes in the RP's! :muscle:

My bad, I was thinking that the stack was ov

[2022-03-14 17:58] #48 closed, assigned to snarkywolverine

[2022-04-01 12:54] slavizh opened #57 "Discussion: certain resources not being idempotent once marked as secondary"
Just opening a discussion rather flagging this as an issue or feature. There are certain resources that you can create once and after that they are no longer idempotent. They will fail if you try to re-deploy. This is very noticeable in resource that usually act like secondary. For example:
- service bus - when you associate another service bus namespace for disaster recovery to primary basically

[2022-04-04 19:00] bmoore-msft commented on #57
@slavizh - do you have a short/sample template for one of these cases?

[2022-04-05 06:42] slavizh commented on #57
@bmoore-msft  yes, will send it in private

[2022-04-05 16:11] bmoore-msft commented on #57
Which mysql db fails the second time?  The master or replica?  Here's my understanding...
- deploy master
- deploy replica (all good to this point)
- deploy master again (fails?)

[2022-04-06 06:03] slavizh commented on #57
Deploy master and replica at the same time. Re-deploy master and replica - replica fails. That is why we have a switch that evaluates condition on replica to be deployed or not depending on the input for that switch.

[2022-04-06 21:45] bmoore-msft commented on #57
What's the error you get?

[2022-04-07 09:23] slavizh commented on #57
@bmoore-msft I do not know as the template was not done by me. I will see if I can try and post the error these days.

[2022-04-15 19:26] bmoore-msft opened #58 "Proposal: schema for resources managed by the deploymentStack"
We're looking into some api/schema changes and wanted to get some feedback.  The JSON snippet below is the resources array on a deploymentStack.  There are a handful of "states" or reasons why the resource is there and the idea is that we make it simple enough to identify the reason why each resource is there.  The high level goal is to identify resources that did not reach the goal state and may

[2022-04-18 07:48] slavizh commented on #58
looks ok to me. In case there will be some future scenarios for other status it is easy to extend with another status code.

[2022-05-05 18:24] snarkywolverine commented on #51
@damienpontifex @miqm We managed to track down an issue with the way delete requests were being handled.  Can you see if you still encounter the error for this scenario now?

[2022-05-10 18:40] aperezmicrosoft commented on #51
@damienpontifex @miqm if you don't have time to validate/verify, can you share a template for us to repro?

[2022-05-17 19:46] miqm commented on #51
@apclouds sorry, I don't have time now to verify it :(
But here is my sample bicep code for aks. on the second deploy, remove one of the userpool resources.
[code]

[2022-05-20 21:32] bmoore-msft opened #59 "Proposal: changes updateBehavior property"
We're looking at making some changes to the ```updateBehavior``` property on the stack that will allow for some more flexibility in managing resourceTypes and also attempts to reduce the confusion around **when** the property value is used by the stack.

With the current schema we have a single string property on the stack:
[code]
The property is used during the current PUT on the stack, to determ

[2022-05-20 21:33] bmoore-msft commented on #15
Update:

Our current thinking on this behavior is to rely on read-only denyAssignments to prevent having a resource being added to multiple stacks.  So essentially when you add ```denyWrite``` to the resource via the "original" stack, no subsequent stack would be able to add/update the resource.

The approach is certainly logical - we're looking for feedback to see if there are any downsides to th

[2022-05-20 21:37] bmoore-msft commented on #40
@henrybeen - we've been working through the scenarios for ```denySettings``` (formerly known as "locks") and the way everything is working out you'd be able to emulate this scenario with ```denySettings: denyWrite```.  When used, only the stack that created the resource would be able to update it.

It sounds like that gets to what you're after - any issues you can see with it?

[2022-05-20 22:07] bmoore-msft opened #60 "Proposal: removing snapshots from stacks"
Over the past few weeks we've had some 1:1 conversations with many of you and that has helped us to refine our thinking on scenarios for the snapshots child resource on a stack.  TL;DR we want to remove the snapshot resource from the stack.

Currently a snapshot is created for every PUT on the stack and it contains details about the operations of the stack.  Most of this detail is also part of the

[2022-05-20 22:10] bmoore-msft commented on #57
@snarkywolverine @apclouds - we may want to open a standing issue for logging these types of issues, and a separate one for delete failures?

[2022-05-24 18:39] bmoore-msft commented on #58
Seems to have stuck - so going to close this one out.

[2022-05-24 18:39] #58 closed, assigned to nobody

[2022-05-25 07:15] slavizh commented on #59
Assuming that resources applies to all resources no matter if they are in the scope of resource group, management group or subscription? In that case should we have separate option for resources on each level? I currently cannot figure out such scenario that requires that but in case someone has may be can jump in.

[2022-05-25 07:18] slavizh commented on #59
actionOnUnmanage for me sounds a little weird but may be that is just me and my sense on how it sounds in English which is not my native language. Also shouldn't be actionsOnUnmanage as there are multiple actions.

On another thought I would guess you will have different options available depending on the scope you do stacks deployment?

[2022-05-25 07:24] slavizh commented on #60
I am ok with this especially if other features for the stack benefit from this in being more refined on release.
Is there any tentative date for the next preview? Besides some of the API changes on stacks can we also expect better experience when we use stacks with Az PS module? Previous experience as I gave feedback was not on par from what we have in regular deployments.

[2022-05-27 16:46] bmoore-msft commented on #59
All resources that are managed by the stack - regardless of scope.  So theoretically you can do things like
1. create a resourceGroup
2. create a bunch of resources that are in a different resourceGroup

Both can be deleted by setting the respective properties.  In the case if the RG, the resources in that RG would also be deleted, even if they were not managed by the stack.

Not sure I follow on

[2022-05-27 16:50] bmoore-msft commented on #60
We do want to make the experience of creating a stack, a superset of creating a deployment [resource].  That should be in the next release and feel free to nit-pick on anything that is not up to par.

As for when that will happen?  We're shooting for Q3 - there are a lot of code changes so I suspect will end up test/debug/redeploy once or twice before we're done.  And I've learned not to predict h

[2022-05-27 17:12] bmoore-msft commented on #59
added a survey link to the OP above

[2022-05-27 18:53] maikvandergaag commented on #59
I'm unable to open the form. Unauthorized.

[2022-05-27 18:58] bmoore-msft commented on #59
Sorry about that (pesky defaults) - can you try again?

[2022-05-27 19:01] maikvandergaag commented on #59
Thanks it works now!

[2022-05-30 06:07] slavizh commented on #60
@bmoore-msft no worries. I will not hold you on that date. You know me that I prefer that things get released when they are in good shape rather releasing something and than having pulled back. It gives me rough estimate on what to focus now and what I can be focusing in the future.

[2022-05-30 06:15] slavizh commented on #59
For the below I guess the scenario is for example you have:

- two policy assignments at subscription scope
- two resource groups and a couple of resources inside each of them

From your deployment you remove the policy assignments and you remove a resource within the resource group. But when you do deployment via stacks you want the policy assignments to be detached but the resource inside the re

[2022-05-30 07:37] henrybeen commented on #59
I understand why three options are introduced, and I see no better alternative.

Unintentinal deletion of resources in a resourceGroup is a real thing. I wouldn't support specifying it per individual resource scope (the two RGs and the MG from @slavizh example) though. It feels like this would be to much of a move away from the declarative model.

As an alternative, have you considered just failin

[2022-05-30 07:42] henrybeen commented on #60
I think there are two strong arguments I hear:

- You don't want to reinforce anti-patterns
- You don't want to split information across two sources

I second those.

What we would loose (being able to diff between to snapshots) is something that sounds like a great feature, but I cannot say that I have ever missed it before now. So far there were always other ways to find the answer anyway (sourc

[2022-05-30 07:56] henrybeen commented on #40
I'm very busy catching up on "all things that message me," so I still have to dive into denySettings, but what I think to read between the lines is that this would deny writing to the resources directly (achieving what I want), and enforce any change to go through the stack.

Is that correct?

[2022-06-07 06:18] tvuorenmaa89 commented on #60
This makes sense and the debugging scenarios / solutions looks good.

[2022-06-09 16:20] bmoore-msft commented on #15
I wanted to add a bit more to the proposal above regarding making resources "read-only" in order to prevent the resource being added to multiple stacks.  This does mean that excludedActions and/or excludedPrincipals would likely be needed in a number of scenarios to avoid blocking things like VM Shutdown or retrieving account keys (think any POST method for a resource).  If that adds more to think

[2022-06-09 16:29] bmoore-msft commented on #40
Yep - and you could still "exclude" certain principles and/or actions as well...  so for example you could still allow startup/shutdown of a vm if needed.

[2022-06-10 05:00] loekd commented on #59
Combining a "delete" action on an RG with a "detach" action on its resources sounds like something that should be detected and denied by the platform. This becomes complicated when a stack has multiple.

[2022-06-10 06:18] slavizh commented on #15
I do not have anything against additional options.

[2022-06-10 16:07] bmoore-msft commented on #15
@slavizh - can you expand?  I'm not sure I follow...

[2022-06-10 16:09] bmoore-msft commented on #59
Hmm...  you *could* have resources that are not in a/the resourceGroup.  Perhaps an odd scenario, but certainly possible.

@snarkywolverine @apclouds - should we think about blocking such a request? (or ignoring the delete on the scope?)

[2022-06-12 12:47] J0F3 commented on #60
I fully agree with what is already written here. I perfectly fine with the decision.
I especially welcome the idea to leverage the Activity Log for logging and "long term debugging".
Also the point that the source code should be the source of truth and not bothering that with snapshot is something that a find very good. So removing the snapshots feature makes it also less likely that people who ar

[2022-06-12 13:56] J0F3 commented on #59
@slavizh @bmoore-msft
Not sure if I followed on this only correctly but the following is a scenario which I can imagine to be happen:

I think of a scenario of which you have, for example, applied some sort of "template" through a deployment stack to the subscription. Now, after a while the initial "template" does not longer apply or has changed (maybe the governance requirement has changed or the

[2022-06-13 06:23] slavizh commented on #59
With the proposed setting such scenario is not possible. With the above you will need to detach all resources and delete the policy manually. I have put the scenario just for the discussion part as if you do not discuss all the ideas no matter how weird or not so real world they are you could miss something important. Yes, deployment stacks will be replacement of Blueprints but also will be someth

[2022-06-13 06:24] slavizh commented on #15
@bmoore-msft I mean I am fine with the additional proposal.

[2022-06-13 22:26] bmoore-msft commented on #57
@slavizh - aside from fixing the problem in the RP - do you have thoughts on what we would do from a stacks perspective to help address it?

[2022-06-13 23:46] bmoore-msft commented on #59
If you had a scenario where the stack contained policies and then resources in resourceGroups I would think of a few things... in addition to what @slavizh mentioned in that "you can't do that".

If there is a lifecycle you see where you'd want to delete the policies at one scope and then preserve resources at another, then the stack is scoped incorrectly.  A stack should contain resources that sh

[2022-06-14 06:43] slavizh commented on #57
@bmoore-msft Fixing the RP is the only option to me. Unfortunately I cannot think of any other way of adding something to stacks without compromising the idea of stacks. For example adding somehow a resource to stacks without having to be in the deployment will compromise the idea of stacks.

[2022-06-14 07:16] J0F3 commented on #59
Ah yes, that makes sense. I was maybe also a bit a constructed example. Ans yes with the steps you outline above it can be "resolved". But I agree with you that such a stack should probably not be done at all in the first place.

That sounds also very logic to me. When you want to delete resource groups you would normally also delete the resources. Otherwise it would be probably again more a case

[2022-06-14 14:45] bmoore-msft commented on #59
I think it's a valid example for a scenario where I have some policies that enable log analytics... you want to "decommission" the policies but keep the data in LA... networking may have similar scenarios.  Now why do you want to decomm the policies?  ok maybe I'm stretching there...

In any case the exercise made clear to me that we really do need to emphasize life cycle when building these thing

[2022-06-14 14:48] bmoore-msft commented on #15
Any concerns about the POST actions/operations?  I.e. in order to get a storageAccount key, something would need to be exluded from the denyAssignment (principal and/or action)...  Not sure how laborious that's going to be, even though technically possible.

[2022-06-14 17:41] bmoore-msft commented on #57
Ok - looks like we're on the same page there - as "slooowwww" as that solution can be I continue to think it's the best one.

I'm going to close this out for now - but for anyone reading this in the future, please feel free to add other resources/scenarios where you encounter idempotency issues.

[2022-06-14 17:41] #57 closed, assigned to nobody

[2022-06-15 07:21] slavizh commented on #15
There are plenty of examples where you will need to do some operations and those operations shouldn't be stopped. Sometimes you even have to generate SaS token instead of using the primary key for storage account. A lot of services that have autoscale mechanisms which change properties based on the scale configuration, etc. So I would say may be in some cases you will have to go even on property l

[2022-06-15 17:40] aperezmicrosoft commented on #51
@damienpontifex apologies for the delay. We were able to deploy the template and follow the steps to remove the nodepools through the `updateBehavior: purgeResources` capability for Deployment Stacks with succeeded state. It looks like the issue you ran into was fixed. Can you verify on your end?

[2022-06-15 17:59] mumian commented on #15
Add @timwarner-msft for awareness.

[2022-06-15 19:27] bmoore-msft commented on #15
Ack - this is my main concern.  By using the "denyWrite" option you'd prevent these things by default.  We have to (do it by default) otherwise it's not possible to truly enable such a scenario where you don't want it done.  The owner of the stack can exclude those actions, the denyAssignment api supports that, it's just that you have to know, at the time of stack creation, that you need to exclud

[2022-06-16 06:08] slavizh commented on #15
I hope that we will not have to define a big list of those actions when we create/update deployment stack. If we have to do that I would opt-in to having some default resources just like built-in roles that define which actions should be allowed.

[2022-06-16 18:03] J0F3 commented on #15
The ability to exclude  some actions would be definitely meaningful and important. But my concern is also that the list may get very long and difficult to manage.
I would therefore also welcome a possibility to have some “defaults” which can be specified. I like the idea to just specify a built-in role an then all the allowed action from it would be excluded. But I do not know how hard that would

[2022-06-21 18:21] harshpatel17 commented on #46
@slavizh
Just released a new Powershell build that attempts to match stack outputs with deployment outputs. https://github.com/Azure/deployment-stacks/releases/tag/v0.1.5

[2022-06-22 01:42] snarkywolverine commented on #51
Based on @apclouds validation, I'm going to resolve this issue.  @damienpontifex or @miqm - if you run into this again, please reactivate and we'll be happy to take a look.

[2022-06-22 01:42] #51 closed, assigned to snarkywolverine

[2022-06-22 06:01] slavizh commented on #46
@harshpatel17 awesome. I will try to test it in the next days and provide feedback.

[2022-06-23 12:54] slavizh commented on #46
@harshpatel17 I am not sure if I spot the change. You say that the output matches the output of regular deployment but I do not see that. I do not see input parameters or output data being displayed at the end of deployment stack. When I read the release notes it says only the error output. But even in that I see some inconsistencies when we compare deployment stack vs deployment error:

Deploymen

[2022-06-23 13:37] slavizh opened #61 "Shoulnd't Remove-AzSubscriptionDeploymentStack delete resources?"
**Describe the bug**
I have deployed stack with purgeResources option. I am doing Remove-AzSubscriptionDeploymentStack but the resource group and the resources that are in the stack are not removed. If I am not mistaken that was the intent of the command?

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy new stack with purgeResources mode
2. remove stack via Remove-AzSubscriptionDeploym

[2022-06-27 17:58] snarkywolverine commented on #61
Thanks for asking - this has caused a fair bit of confusion to this point, so I'm hoping this will help clarify.  We are open to feedback on how to clarify this behavior.

In order to purgeResources, the property must be specified at the time of the deployment where resources are becoming unmanage.  For example:

Iteration 1: Stack deploys resources A, B, C -- the purge option can be set, but it f

[2022-06-27 17:58] #61 closed, assigned to nobody

[2022-06-28 05:59] loekd commented on #15
Could you elaborate on the reasoning behind the choice between `denyAssignment` (1) and storing state about managed resource Id's within a deployment stack (2)?
Seeing all the downsides of the first, I wonder if the second isn't easier to implement.

[2022-06-29 06:00] slavizh commented on #61
thanks. I guess due to some time between previous preview and current preview I have forgotten this known issue.

[2022-06-30 17:16] bmoore-msft commented on #46
@slavizh - do you have a template and params file you can share - the "bad request" path is always trick (even if too common) - I want see see the code path the service takes to get you there...

[2022-06-30 19:19] bmoore-msft commented on #15
The first `denyAssignment` is far easier to implement - given we already have that capability in the design, it leverages the platforms RBAC capabilities.  Implementing something "new" may provide a better experience but is more work and has little margin for error in a new platform capability.

[2022-07-01 07:50] slavizh commented on #46
@bmoore-msft  will send e-mail with the code.

[2022-07-06 04:32] yks0000 opened #63 "CLI for Non-Windows Platform (macOS and Linux)"
**Is your feature request related to a problem? Please describe.**
Deployment Stack CLI is not available for platform other than Windows. This restrict us from testing (preview) version of deployment-stack.

**Describe the solution you'd like**
As a macOS user, I would like to see deployment stack cli build for macOS and Linux platform.

**Describe alternatives you've considered**
There is no alte

[2022-07-07 05:48] J0F3 commented on #63
I have been using the PowerShell Cmdlets successfully on macOS. Should also work on Linux.
Just install the cross platform[PowerShell](https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-on-macos?view=powershell-7.2)  and you are basically ready to go.

Maybe this helps until the CLI is available on other platforms which I assume will be certainly the case sometime

[2022-07-07 18:42] yks0000 commented on #63
Thanks @J0F3. Will try using PowerShell Cmdlets. Closing this.

[2022-07-07 18:42] #63 closed, assigned to nobody

[2022-07-21 22:41] Grant-Rc opened #64 "Deployment stack setup issue"
**Issue**
During Setup I got the following Error

[code]

I Looked into the PowerShell file and found that there is a function
` function Enable-StrongNameVerificationSkip`
But this function is not called any where as you can see from the screen shot

![image](https://user-images.githubusercontent.com/3213940/180325480-ad39e555-f1f7-460f-bd13-5efb0867121c.png)

Steps to reproduce the behavior:
1.

[2022-07-28 17:11] bmoore-msft commented on #64
@stuartko can you have a look?

@Grant-Rc - can you try the CLI and see if that installs ok on your machine?

[2022-08-01 21:56] bmoore-msft commented on #64
@stuartko - any ideas?

[2022-08-02 14:50] jonclyde commented on #64
Hi team, just to add - I'm having the same issue in both PowerShell and CLI as reported by @Grant-Rc above. Tested on two different machines, one of which was new and clean windows VM.

[2022-08-03 06:16] slavizh commented on #46
@harshpatel17 any update after providing the template?

[2022-08-03 20:21] stuartko commented on #64
@Grant-Rc : For the Powershell issue, can you run the following from the root Private Preview directory and try the installation again?:

`.\bin\x64\sn.exe -Vr .\bin\modules\Az.Resources\Microsoft.Azure.Management.ResourceManager.dll`

This will cause strong name verification to be bypassed for this particular assembly.

[2022-08-03 20:44] bmoore-msft commented on #46
@harshpatel17 - is on vacation for a few weeks, IDK how far he got before he left...  hang tight.

[2022-08-04 06:03] slavizh commented on #46
ok, no problem. Relaxing vacation.

[2022-08-04 16:34] bmoore-msft commented on #64
@Grant-Rc - do you mind opening a new issue for this, it looks to be unrelated...

[2022-08-04 22:02] Grant-Rc commented on #64
here is my results from sunning this

[code]
then I rain the script and still got error

[code]

[2022-08-04 22:05] Grant-Rc opened #65 "CLI tutorial fails for sub create"
This is autogenerated. Please review and update as needed.
Describe the bug
Command Name
az stack sub create

Errors:

The command failed with an unexpected error. Here is the traceback:
'NoneType' object has no attribute '__name__'
Traceback (most recent call last):
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\knack/cli.py", line 231, in invoke
  File "D:\a\1\s\build_scr

[2022-08-04 22:06] Grant-Rc commented on #64
NP, Done

[2022-08-22 15:54] harshpatel17 commented on #65
This error is expected to fixed in the next Deployment Stacks release.

[2022-08-22 15:54] harshpatel17 commented on #64
This error is expected to fixed in the next Deployment Stacks release.

[2022-09-01 18:09] stuartko commented on #64
@Grant-Rc : It's possible a reboot will be required after the sn.exe command is run. But my other thought is that group policy on your machine may be overwriting the disabled strong name verification flag.

Can you run "reg query HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\StrongName\Verification\ -s" from an admin prompt and tell me if you have any values for Microsoft.Azure.Management.ResourceManager

[2022-09-01 23:42] Grant-Rc commented on #64
sure @stuartko

![image](https://user-images.githubusercontent.com/3213940/188030365-e7915238-deb4-4613-8b20-106de525697e.png)

[2022-09-06 12:22] dani3lh3pe commented on #65
Hi @harshpatel17, when can we expect the new version? :)
Thank you!

[2022-09-08 10:12] slavizh commented on #46
@harshpatel17 any update?

[2022-09-08 16:29] harshpatel17 commented on #46
@slavizh Sorry about the late response. I'll take another look at the template and will get back to you by EoD tomorrow.

[2022-09-08 16:30] harshpatel17 commented on #65
@dani3lheidemann I am currently expecting the newest version to be released within 1-2 weeks. Will keep you updated.

[2022-09-13 21:31] stuartko commented on #64
@Grant-Rc  StrongName verification bypass is added for the binary. Is this machine joined to a domain? It's possible group policy is restricting the ability to disable strong name verification. This shouldn't require a reboot, but I'm presuming you're seeing the same failure even after rebooting after adding the registry key?

Eventually this won't be an issue in Public Preview because we'll sign

[2022-09-30 06:25] slavizh commented on #46
@harshpatel17 any update? Overall should we expect any updates on the proposed behavior for New-AzSubscriptionDeploymentStack or currently focus is the next milestone for deployment stacks and after that work on the tooling experience?

[2022-09-30 16:49] harshpatel17 commented on #46
Hi @slavizh, yes my goal is to have the changes requested in by the end of this milestone. My estimate would be the changes should get in within this month.

[2022-10-05 13:25] linasendriukaitis opened #67 "No warning/error when resources are overwritten with deployment stacks"
**Is your feature request related to a problem? Please describe.**
When a resource has been changed by a 3rd party source (pipeline, PowerShell, Portal, etc.) there is no warning that the changes will be overwritten when re-running the Set-AzSubscriptionDeploymentStack command

**Describe the solution you'd like**
I would like to have a solution that allows me to specify the behavior and have the

[2022-10-05 13:37] slavizh commented on #67
Such kind of feature is already present although not perfect: https://learn.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-what-if?tabs=azure-powershell

It is just not implemented on the commandlets yet.

[2022-10-10 06:55] miqm commented on #27
Can we get a heads-up before stacks will be deleted? Just in case to not get the resources deleted.

[2022-10-10 15:49] harshpatel17 commented on #65
@DamianFlynn Before passing of the new build I wanted to confirm if you were able to do a couple of things

Open powershell as **admin**
Run the following command
& "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe" -m pip install -e **path of unzipped sdk** --force-reinstall

That error usually come from the CLI not being mapped to the SDK, the above command should fix that issue

[2022-10-10 15:51] harshpatel17 commented on #64
@jonclyde  Before passing of a new build I wanted to confirm if you were able to do a couple of things

Open powershell as **admin**
Run the following command
& "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe" -m pip install -e **path of unzipped sdk** --force-reinstall

That error usually come from the CLI not being mapped to the SDK, the above command should fix that issue

[2022-10-10 19:56] DamianFlynn commented on #65
@harshpatel17 i think you tagged the wrong person. My system is MacOS.

Happy to try if you need

[2022-10-10 20:13] harshpatel17 commented on #65
I did tag the wrong person, sorry about that!

[2022-10-10 20:13] harshpatel17 commented on #65
@dani3lheidemann Before passing of the new build I wanted to confirm if you were able to do a couple of things

Open powershell as admin
Run the following command
& "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe" -m pip install -e path of unzipped sdk --force-reinstall

That error usually come from the CLI not being mapped to the SDK, the above command should fix that issue

[2022-10-11 14:18] bmoore-msft commented on #67
@slavizh has it right, we'll have /what-if implemented in the public preview release...

[2022-10-11 14:18] #67 closed, assigned to nobody

[2022-10-11 14:22] bmoore-msft commented on #27
Will confirm, I don't think we'll need this any more, though may want it since the api has changed a bit.  In any case, if we end up doing it on the backend (we may have you initiate) we will detach the resources, not purge them.

[2022-11-10 09:22] nbwdk commented on #40
Any update on this implementation. I really want to test this out. This implementation is the main reason we are still using blueprints to baseline landing zones.

[2022-11-10 16:13] bmoore-msft commented on #40
You can see a bit about the next preview here: https://youtu.be/tPrpsKVEhSU?t=225 - we're going through a deployment and final testing now.

[2022-11-10 16:24] bmoore-msft commented on #59
This is where we landed for the new apiVersion:

[code]

PowerShell/CLI will use switches, e.g.

[code]

[code]

Thanks to all those who chimed in and filled out the survey...

[2022-11-10 16:24] #59 closed, assigned to nobody

[2022-11-10 16:37] bmoore-msft commented on #37
The next release will issue a DELETE call for the RG/MG if so instructed ( see #59 ).  This is equivalent to any other RG delete call so it will instruct ARM to delete the RG even if it's not empty.

[2022-11-10 16:37] #37 closed, assigned to bmoore-msft

[2022-11-10 16:44] bmoore-msft commented on #29
[coming back to clean up a bit before the next wave]

@slavizh - after letting this bake a bit, I do think the solution is multiple stacks or a wrapper template...  Are you seeing any reason why that wouldn't work?

[2022-11-10 16:46] bmoore-msft commented on #28
Was looking at this for nic's, publicIp's, et al for VMs... it seems like this is the way to go for now.  I don't think it's going to cover all the other implicitly created resources but I'm going to open a "generic" issue to start building that list...  will close this one out.

[2022-11-10 16:46] #28 closed, assigned to nobody

[2022-11-10 16:52] bmoore-msft opened #70 "Implicitly created resources are not deleted / locked by the stack [ list what you find here ]"
Inspired by #28

There are resources in Azure that will automatically create other resources.  So in a template (which defines the stack) you will not see resources like OS disks on a VM explicitly defined because they are automatically created by the VM.  Since it is not defined in the template, the stack does not delete that resource if requested.  (stack will also not put a denyAssignment on th

[2022-11-10 17:00] bmoore-msft commented on #24
@slavizh - if I'm reading this right (a year later) this is coming from the use of the `existing` keyword in bicep?  We would not manage any of those resources, since they were not created by the stack... bicep blurs this line a bit when we describe the stack as "resources defined in the template".  I added an AzDO item for the doc writers to make that clear.

I'll close this one out for now, lmk

[2022-11-10 17:00] #24 closed, assigned to nobody

[2022-11-10 17:13] bmoore-msft commented on #23
2 things on this one...
1) we are still seeing some replication delays for sub scoped deployments - the ETA for this is EOY but take that prediction with the context of lifetime of this issue
2) to get around it in the short term, create the sub scoped stack in the region where you're sitting - the deployment gets created in that same location and your next query for the deployment *should* also g

[2022-11-10 17:13] #23 closed, assigned to snarkywolverine

[2022-11-11 22:37] JustenKennedy opened #71 "Bicep examples?"
In the tutorial it references an arm template and whatnot. Can this also be ran with bicep files? If so, do you have an operational example? I've got everything installed correctly I believe. Just running into errors trying to run a New-AzSubscriptionDeploymentStack and my guess is I'm trying to use a main.bicep file and a bicepconfig.json file and it's not setup to use that.

[2022-11-11 22:42] jikuja commented on #71
If preview tooling does not support bicep directly then one option you could try is to build bicep to ARM template and deploy that.

[2022-11-14 08:44] slavizh commented on #29
can be closed for now.

[2022-11-14 17:15] alex-frankel commented on #71
The next release will include support for bicep files (matching the `*-Az*Deployment` and `az deployment *` commands).

[2022-11-14 17:43] JustenKennedy commented on #71
Awesome. Do we have a time frame/ eta on the next release?

[2022-11-14 17:47] alex-frankel commented on #71
@apclouds / @bmoore-msft can provide the most specific ETA

[2022-11-14 19:32] #29 closed, assigned to nobody

[2022-11-14 19:34] bmoore-msft commented on #71
@JustenKennedy - ping again at the end of the week if you don't hear back...

[2022-11-29 21:47] JustenKennedy commented on #71
Any update on this? @bmoore-msft

[2022-11-30 21:31] bmoore-msft commented on #71
We're in the process of deploying the build with the new apiVersion...  trying to sneak in an out of lockdowns for the world cup, black friday/cyber monday and the end of year holidays...